* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 75%;
  margin: auto;
}

.container-main {
  width: 65%;
  margin: auto;
}

.flex {
  display: flex;
}

header .power {
  height: 20px;
  background-color: #0282f9;
}
header .flex {
  align-items: center;
  justify-content: space-between;
}
header .flex .logo img {
  width: 80px;
  margin: 20px;
}
header .flex .menu {
  list-style-type: none;
}
header .flex .menu li {
  display: inline-block;
  font-size: 20px;
}
header .flex .menu li a {
  color: black;
  text-decoration: none;
  margin: 0 20px;
  padding: 43% 0;
}
header .flex .menu li a.active {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}
header .jumbotron {
  background-image: url("../img/jumbotron.jpg");
  height: 400px;
}

footer .wrapper {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
footer .wrapper .flex {
  width: 30%;
  flex-wrap: wrap;
  padding: 15px 0;
}
footer .wrapper .flex .links {
  color: white;
  list-style-type: none;
  margin: 10px;
}
footer .wrapper .flex .links a {
  color: gray;
  text-decoration: none;
}
footer .logo-bg {
  background-image: url("../img/dc-logo-bg.png");
  width: 500px;
  height: 500px;
  background-size: contain;
  position: absolute;
  right: 300px;
  top: -40px;
}
footer .sign-up {
  background-color: #303030;
  padding: 30px 0;
}
footer .sign-up .flex {
  align-self: center;
  justify-content: space-between;
}
footer .sign-up .flex .button {
  padding: 10px;
  font-size: 14px;
  border: 2px solid #0282f9;
}
footer .sign-up .flex .button a {
  color: white;
  text-decoration: none;
}
footer .sign-up .flex .follow ul li {
  list-style-type: none;
  display: inline-block;
}
footer .sign-up .flex .follow ul li span {
  color: #0282f9;
}
footer .sign-up .flex .follow ul li a {
  color: gray;
  font-size: 22px;
  margin: 10px;
}

main.main-background-product {
  background-color: #1c1c1c;
}
main.main-background-product .container {
  position: relative;
  padding: 50px 0;
}
main.main-background-product .container .current {
  padding: 15px 25px;
  background-color: #0282f9;
  color: whitesmoke;
  position: absolute;
  top: -30px;
  left: -30px;
  font-size: 25px;
}
main.main-background-product .container .flex {
  flex-wrap: wrap;
  align-items: flex-start;
}
main.main-background-product .container .flex .comics {
  width: calc(100% / 6);
}
main.main-background-product .container .flex .comics .thumb {
  display: block;
  list-style-type: none;
  margin: 10px;
}
main.main-background-product .container .flex .comics .thumb span {
  color: whitesmoke;
  display: block;
  text-align: center;
}
main.main-background-product .container .more {
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #0282f9;
  color: whitesmoke;
  margin: auto;
  margin-top: 50px;
}

.merch {
  background-color: #0282f9;
}
.merch.bottom {
  background-color: #f6f6f6;
  border: 1px solid lightgray;
}
.merch.bottom span, .merch.bottom .fas, .merch.bottom .fab {
  color: lightgray;
}
.merch.bottom ul li {
  border: 1px solid lightgray;
  width: 25%;
  height: 100%;
  padding: 20px;
}
.merch ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  width: 80%;
  margin: auto;
}
.merch ul li {
  display: inline-block;
  padding: 50px 0;
}
.merch ul li a, .merch ul li a.flex {
  text-decoration: none;
  color: whitesmoke;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.merch ul li span {
  margin-left: 20px;
}
.merch ul li .fas, .merch ul li .fab {
  font-size: 50px;
}

.main-background-product {
  background-color: white;
}

.blue {
  background-color: #0282f9;
  height: 100px;
}

.container-main {
  margin-top: 50px;
  position: relative;
}
.container-main .thumb_img {
  position: absolute;
  top: -380px;
  left: -30px;
  font-size: 25px;
}
.container-main .thumb_img img {
  border: 2px solid white;
}
.container-main h2 {
  margin: 20px 0;
}
.container-main .green {
  background-color: #55ba59;
  width: 70%;
}
.container-main .green .flex {
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 10px;
  color: white;
}
.container-main .green .flex .price {
  width: 60%;
  margin: 15px 0;
}
.container-main .green .flex .available {
  margin: 15px 0;
}
.container-main .description {
  width: 70%;
  margin-bottom: 50px;
}

.info {
  display: flex;
  background-color: #f6f6f6;
  padding-bottom: 100px;
}
.info .talent {
  width: 50%;
  padding-right: 20px;
}
.info .specs {
  width: 50%;
  padding-left: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row .cont {
  display: inline-block;
  width: 60%;
  text-align: right;
  margin: 10px;
}
.row .cont li {
  display: inline-block;
}

.specs .row {
  width: 50%;
}